body {
    background-image: url(../img/coba4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.sambutan h1 {
    text-align: center;
    color: white;
}

.carousel-inner .carousel-item img {
    width: 100%;
    height: 500px;
}