body {
    background-image: url(../img/coba4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Home Page Start */
.sambutan h1 {
    text-align: center;
    color: black;
}

.video {
    width: 100%;
    height: 88%;
}

.PB .home {
    margin-left: 120px;
    margin-top: 30px;
    margin-bottom: 20px;
    float: left;
    box-shadow: 1px 1px 20px  black;
}

@media screen and (max-width: 480px) {
    .carousel-inner .carousel-item img {
        width: 100%;
        height: 300px;
    }
    .PB .home {
        margin-left: 52px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .video {
        width: 100%;
        height: 50%;
    }
  }
/* Home Page End */

/* Teachers Page Start */
.teachers {
    background-color: #ddd;
    box-shadow: 1px 1px 10px  rgba(0, 0, 0, 0.6);
}

.img img:nth-child(2) {
    position: relative;
    display: block;
    width: 140px;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -80px;
    box-shadow: 0 0 0 7px var(--primary);
}

span .fa {
    font-size: 30px;
    padding: 30px;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

ul li {
    display: inline-block;
}

li a {
    text-decoration: none;
    color: var(--green);
}

.card-link {
    padding-bottom: 10px;
}

.card-title h3 {
    font-weight: bolder;
}

@media screen and (max-width: 480px) {
    .teachers {
        margin-bottom: 50px;
    }
}
/* Teachers Page End */

/* Memories Page Start */
.container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.inner {
    overflow: hidden;
}

.inner img {
    transition: all 1.5s ease;
}

.inner:hover img {
    transform: scale(1.5);
}

.memo{
    margin-bottom: 25px;
}

@media screen and (max-width: 480px) {
    .memories h1 {
        margin-top: -50px;
    }
}
/* Memories Page End */

/*  achievement page start */

    .sambutan .achievement {
        margin-top: -30px;
    }

    .penghargaan{
        width: 19rem;
        box-shadow: 1px 1px 10px  rgba(0, 0, 0, 0.6);
    }

/* achievement page end */

/* information page start */
.info h1 {
    margin-bottom: 40px;
}

.satu{
    background-color: #3879db;
    color: white;
}

.dua{
    background-color: #7bbaee;
    color: white;
}

.foto{
    width:250px;
}

.aktif.Memories-Text {
    animation: Memories-Text 1.8s 1 0.1s forwards;
}

.aktif.Memories-card1 {
    animation: Memories-card1 1.8s 1 0.1s forwards;
}

.aktif.Memories-card2 {
    animation: Memories-card2 1.8s 1 0.1s forwards;
}


@keyframes transisi-PB {
    0% {opacity: 0%; bottom: 20px;}
    100% {opacity: 100%; bottom: 0px;}
}

@keyframes PB-card1 {
    0% {opacity: 0%; right: 20px;}
    100% {opacity: 100%; right: 0px;}
  }

  @keyframes PB-card2 {
    0% {opacity: 0%; bottom: 20px;}
    100% {opacity: 100%; bottom: 0px;}
  }

  @keyframes PB-card3 {
    0% {opacity: 0%; left: 20px;}
    100% {opacity: 100%; left: 0px;}
  }

  @keyframes Teacher-Text {
    0% {opacity: 0; bottom: 20px;}
    100% {opacity: 1; bottom: 0px;}
  }

  @keyframes Teacher-card1 {
    0% {opacity: 0%; left: 20px;}
    100% {opacity: 100%; left: 0px;}
  }

  @keyframes Teacher-card2 {
    0% {opacity: 0%; bottom: 20px;}
    100% {opacity: 100%; bottom: 0px;}
  }

  @keyframes Teacher-card3 {
    0% {opacity: 0%; right: 20px;}
    100% {opacity: 100%; right: 0px;}
  }

@keyframes Memories-Text {
    0% {opacity: 0%; bottom: 20px;}
    100% {opacity: 100%; bottom: 0px;}
}

@keyframes Memories-card1 {
    0% {opacity: 0%; left: 20px;}
    100% {opacity: 100%; left: 0px;}
}

@keyframes Memories-card2 {
    0% {opacity: 0%; right: 20px;}
    100% {opacity: 100%; right: 0px;}
}
@media screen and (max-width: 480px) {
    .overflow{
        overflow:scroll;
    }
    .dua {
        position: absolute;
        top: 1290%;
    }
}
/* information page end */
