body {
    background-image: url(../img/coba4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Home Page Start */
.sambutan h1 {
    text-align: center;
    color: white;
}

.video {
    width: 100%;
    height: 88%;
}

.carousel-inner .carousel-item img {
    width: 100%;
    height: 88%;
}

.PB .home {
    margin-left: 120px;
    margin-top: 30px;
    margin-bottom: 50px;
    float: left;
}

@media screen and (max-width: 480px) {
    .carousel-inner .carousel-item img {
        width: 100%;
        height: 300px;
    }
    .PB .home {
        margin-left: 52px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .video {
        width: 100%;
        height: 50%;
    }
  }
/* Home Page End */

/* Teachers Page Start */
.guru {
    margin-bottom: 50px;
}

.teachers {
    background-color: #ddd;
    box-shadow: 1px 1px 10px  rgb(146, 143, 143);
}

.img img:nth-child(2) {
    position: relative;
    display: block;
    width: 140px;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -80px;
    box-shadow: 0 0 0 7px var(--primary);
}

span {
    font-size: 20px;
    padding: 10px;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

ul li {
    display: inline-block;
}

li a {
    text-decoration: none;
    color: var(--green);
}

.card-link {
    padding-bottom: 10px;
}

[class*-fa-] {
    transition: 0.7s;
}

.fa-facebook:hover {
    color: #3b5999;
    transition: 0.5s;
}

.fa-twitter:hover {
    color: #55acee;
    transition: 0.5s;
}

.fa-instagram:hover {
    color: #cd201f;
    transition: 0.5s;
}

.card-title h3 {
    font-weight: bolder;
}

@media screen and (max-width: 480px) {
    .guru {
        margin-top: 50px;
    }
}
/* Teachers Page End */

/* Memories Page Start */
.container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.inner {
    overflow: hidden;
}

.inner img {
    transition: all 1.5s ease;
}

.inner:hover img {
    transform: scale(1.5);
}

.memo{
    margin-bottom: 50px;
}

@media screen and (max-width: 480px) {
    .judul h1 {
        margin-top: 30px;
        text-align: center;
    }
}
/* Memories Page End */

/* Animasi punya dafa start */

.reveal {
    opacity: 0;
    position: relative;
}

.aktif.transisi-PB {
    animation: transisi-PB 1.5s 1 0.1s forwards;
}

.aktif.PB-card1 {
    animation: PB-card1 1.5s 1 0.1s forwards;
}

.aktif.PB-card2 {
    animation: PB-card2 1.5s 1 0.1s forwards;
}

.aktif.PB-card3 {
    animation: PB-card3 1.5s 1 0.1s forwards;
}

.aktif.Teacher-text {
    animation: Teacher-Text 1.5s 1 0.1s forwards;
}

.aktif.Teacher-card1 {
    animation: Teacher-card1 1.8s 1 0.1s forwards;
}

.aktif.Teacher-card2 {
    animation: Teacher-card2 1.8s 1 0.1s forwards;
}

.aktif.Teacher-card3 {
    animation: Teacher-card3 1.8s 1 0.1s forwards;
}


@keyframes transisi-PB {
    0% {opacity: 0%; bottom: 20px;}
    100% {opacity: 100%; bottom: 0px;}
}

@keyframes PB-card1 {
    0% {opacity: 0%; right: 20px;}
    100% {opacity: 100%; right: 0px;}
  }

  @keyframes PB-card2 {
    0% {opacity: 0%; bottom: 20px;}
    100% {opacity: 100%; bottom: 0px;}
  }

  @keyframes PB-card3 {
    0% {opacity: 0%; left: 20px;}
    100% {opacity: 100%; left: 0px;}
  }

  @keyframes Teacher-Text {
    0% {opacity: 0; bottom: 20px;}
    100% {opacity: 1; bottom: 0px;}
  }

  @keyframes Teacher-card1 {
    0% {opacity: 0%; left: 20px;}
    100% {opacity: 100%; left: 0px;}
  }

  @keyframes Teacher-card2 {
    0% {opacity: 0%; bottom: 20px;}
    100% {opacity: 100%; bottom: 0px;}
  }

  @keyframes Teacher-card3 {
    0% {opacity: 0%; right: 20px;}
    100% {opacity: 100%; right: 0px;}
  }
  
  /* Animasi punya dafa end */

/*  achievement page start */

    .penghargaan{
        width: 19rem;
    }

/* achievement page end */
